.hrf {
    text-decoration: none;
    color:#ff125d;
    padding: 10px 20px; 
    width: 150px;       
    height: 40px;       
    background-color: #ffcbe0;
    color: rgb(255, 0, 166);    
    border: none; 
    border-radius: 5px;       
    cursor: pointer;
    border: 2px solid #ff0084d4; 
}
.con {
    max-width: 10000px; 
    height: 500px; 
    background-size: cover; 
    background-position: center; 
    margin-bottom: 20px; 
    transform: translateY(225px); 
}
.hr-shelf {
	margin: -30px auto 10px;
	padding: -500px;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
    transform: translateY(-480px); 
}
.pg {
    transform: translateY(-150px); 
    margin-left: 1000px; 
}
.gp {
    transform: translateY(-500px); 
    margin-left: 280px; 
}

.tab {
    transform: translateY(-535px); 
    max-width: 700px;
    padding: 0 70px;
    margin: 0 auto;
    margin-bottom: auto;
}

.pm {
    text-align:center;
    font-size: xx-large;
    text-decoration-style: wavy;  
}
body {
    background-color:#fcb8ce;
    font-family:Arial, Helvetica, sans-serif;
}
.big {
    font-family:'Arial';
    font-size: x-large;
}
.con {
    max-width: 1500px;
    padding: 0 50px;
}

.ton {
    max-width: 1500px;
    padding: 0 75px;
    text-align:left;
}

.pik {
    max-width: 1200px;
    padding: 0 75px;
    text-align:right;
}

.dik {
    transform: translateY(-455px);
}
.dif {
    transform: translateY(-450px);
}
.ct {
    transform: translateY(-450px);
}
.blok {
    vertical-align: top;
    transform: translateY(-455px);
    width: 600px; 
    height: 180px; 
    border: 3px solid #ff00a2; 
    margin: 0px; 
    padding: 7px; 
    background-color: #ffcbe0;
    }


.bloks {
    transform: translateY(-455px); 
    width: 600px; 
    height: 95px; 
    border: 3px solid #ff00a2;
    margin: 0px; 
    padding: 7px;
    background-color: #ffcbe0;
    }
.blog {
    transform: translateY(-455px); 
    width: 600px; 
    height: 200px; 
    border: 3px solid #ff00a2; 
    margin: 0px; 
    padding: 7px; 
    background-color: #ffcbe0;
}
.vk {
    line-height:60px
}